html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* spinner */
.arlo .arlo-loading-overlay {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  bottom: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
}

.arlo .arlo-loading-overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.arlo .arlo-loading-overlay:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.arlo .arlo-loading-overlay:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.arlo {
  font-family: "Source Sans Pro", Arial, Tahoma, sans-serif;
}

.arlo ol,
.arlo ul,
.arlo li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.arlo .arlo-full-width {
  width: 100% !important;
  margin-left: 0 !important;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/597099/home_software_pattern.png");
  background-color: #08cec2;
  padding-top: 54px;
  padding-bottom: 58px;
}

.arlo .arlo-page-title-inner {
  max-width: 1300px;
  margin: 0 auto;
  font-size: 64px;
  line-height: 1.2;
  color: #ffffff;
}

.arlo .arlo-main-content .arlo-summary {
  text-align: center;
  font-size: 120%;
  margin-bottom: 25px;
  line-height: 27px;
  font-weight: normal;
  color: #696464;
}

.arlo .arlo-filters .arlo-other-filters {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: space-between;
}
.arlo .arlo-filters .arlo-other-filters select {
  flex: 1 0 30%;
}
@media (max-width: 1100px) {
  .arlo .arlo-filters .arlo-other-filters select {
    width: 100%;
  }
}
.arlo .arlo-filters .arlo-other-filters div {
  float: none !important;
}
@media (max-width: 1100px) {
  .arlo .arlo-filters .arlo-other-filters {
    display: inline-block;
    width: 100%;
  }
}

.arlo .arlo-filters div[id^=filter-],
.arlo .arlo-filters div[id*=" filter-"] {
  padding-right: 10px;
  margin-bottom: 10px;
}

.arlo .arlo-filters select {
  border-radius: 30px;
  font-family: "Source Sans Pro", Arial, Tahoma, sans-serif;
  display: inline;
  background-color: #e6e6e6;
  border: none;
  font-size: 16px;
  color: #696464;
}

.arlo select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 10px 70px 10px 24px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABIklEQVRIie2SsUrEQBCG/4m7D2Bxio3PICh5BQu1EWLnQYrMInevc0EXYsBGuKtsfQSFdNfYWt4bJGHHwgvuhUvkQLt81e7sv/8/wy4wMDDw75C/YeZjIhqLyJu19nUXoyRJzonoTCn1lKbpZ1NXLd2LiJwAgDFmXpblNM/zVZ9xHMcjrfUMQAQAdV1fAzhtzoOW/qBZiMiN1nrJzFGXOTNHWutlY77m0NdsTOCcuw2C4NkLGgGYM/OiqqpJM027a4+Vc27sF6gl6L0MYLJez9bhPhtNdAY0JElySUQWwFGXxg+21i62He513SqK4iMMw0cR2Yf3aFu6vsiy7L3Lp3MCH2PMlYg84Gea3q53DgC+30YpdUdEUlXV/W/fd2Dg7/gC3Dhr40sCB3gAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: 90% center;
  cursor: pointer;
  padding-right: 70px;
  border-radius: 30px;
  background-color: #e6e6e6;
  border: none;
}

.arlo .arlo-filters .arlo-other-filters :nth-child(2) {
  flex: 1 1 60%;
}

.arlo .arlo-filters .arlo-filter-unordered-list li {
  margin-right: 10px;
  border-radius: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #e6e6e6;
  color: #696464;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
}
@media (max-width: 1100px) {
  .arlo .arlo-filters .arlo-filter-unordered-list li {
    display: block;
  }
}

.arlo .arlo-filters-container #arlo-filter-toggle {
  cursor: pointer;
  background: #f1f7fb;
  border-radius: 10px;
  padding: 18px 26px;
  margin-bottom: 20px;
  display: none;
}
@media (max-width: 1100px) {
  .arlo .arlo-filters-container #arlo-filter-toggle {
    display: block;
  }
}

.arlo .arlo-eventlistitem-inner {
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #e6e6e6;
  padding: 16px;
  margin-bottom: 12px;
  background: white;
  width: 100%;
}

.arlo ul.arlo-event-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.arlo ul.arlo-event-list li.arlo-event-listitem {
  flex: 0 0 23%;
  margin: 0px 10px;
}
@media (max-width: 1100px) {
  .arlo ul.arlo-event-list li.arlo-event-listitem {
    flex: 1 0 40%;
  }
}

.arlo ul.arlo-event-list .arlo-show-more-container {
  flex: 1 0 100%;
}

.arlo .arlo-item-header,
.arlo .arlo-content-field-name {
  margin-bottom: 7px;
  font-family: "Source Sans Pro", Arial, Tahoma, sans-serif;
  color: #696464;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
}

.arlo .arlo-details {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  flex: 1 0 80%;
}

.arlo .arlo-online-activities li a,
.arlo .arlo-eventlistitem-inner a {
  text-decoration: none;
  color: #ff1d87;
}

.arlo .arlo-online-activities li .arlo-offers,
.arlo .arlo-eventlistitem-inner .arlo-offers {
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
  color: #08cec2;
}

.arlo .arlo-eventlistitem-inner .arlo-offers .arlo-offer-ul .arlo-discount-offer.arlo-offer-li,
.arlo .arlo-eventlistitem-inner .arlo-offers .arlo-original-price {
  color: #ffdb3b;
}

.arlo .arlo-online-activities li .arlo-event-register,
.arlo .arlo-eventlistitem-inner .arlo-event-register {
  line-height: 20px;
  margin-top: 13px;
  cursor: pointer;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
  background: #ff1d87;
  color: #ffffff;
  font-weight: normal;
  font-size: 15px;
  display: inline-block;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03);
}
.arlo .arlo-online-activities li .arlo-event-register:hover,
.arlo .arlo-eventlistitem-inner .arlo-event-register:hover {
  opacity: 0.7;
}

.arlo .arlo-online-activities li .arlo-places-remaining,
.arlo .arlo-eventlistitem-inner .arlo-places-remaining {
  font-style: italic;
  margin-left: 5px;
  color: #ffdb3b;
  font-size: 16px;
}

.arlo .arlo-show-more-container .arlo-show-more {
  margin: 0 auto;
  width: 215px;
  background-color: #d6d6d6 !important;
  line-height: 20px;
  margin-top: 15px;
  cursor: pointer;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
  color: #fff;
  font-size: 120%;
  font-weight: normal;
  font-size: 15px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03);
}
.arlo .arlo-show-more-container .arlo-show-more:hover {
  opacity: 0.7;
}

.arlo .arlo-register-interest,
.arlo .arlo-register-interest-container {
  text-align: center;
  margin: 44px 0 30px 0;
  clear: both;
}

.arlo .arlo-register-interest span,
.arlo .arlo-register-interest-container span {
  line-height: 21px;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 14px 21px;
  border-radius: 25px;
  background-color: #e6e6e6;
}

.arlo .arlo-text-color-link {
  color: #ff1d87;
  text-decoration: none;
}

.arlo .arlo-online-activities li {
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #e6e6e6;
  padding: 16px;
  margin-bottom: 12px;
  background: white;
}

.arlo .arlo-online-activities .arlo-clearfix {
  display: flex;
}

.arlo .hidden {
  display: none;
}

.arlo .tooltipcontent {
  display: none;
}